    .champ {
	padding: 13px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.champ label {
	padding: 8px 0;
}

.champ input {
    padding: 4px 8px;
    margin: 0;
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    background-color: transparent;
    width: 240px;
    font-size: 18px;
    transition: border-color 0.2s ease-in;
}

.champ select {
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    padding: 0 10px;
    background-color: transparent;
    width: 240px;
    font-size: 22px;
    transition: border-color 0.2s ease-in;
}

.champ input:focus, .champ select:focus, .addSportForm input:focus, .bottomPart input:focus {
	border-color: #71B5B7;
}
    
.content {
	width: 480px;
	margin: 60px auto;
}

.content > form > input {
	float: right;
	width: 180px;
}

.content > form > select {
	float: right;
	width: 180px;
}  
.btn {
	border: none;
	border-radius: 3px;
	font-size: 22px;
	font-family: 'Roboto';
	margin: 0 auto;
	padding: 8px 12px;
	background-color: #7A8DD6;
	color: white;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
	-webkit-transition: background-color 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in;
	-o-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}
.btn-sm {
	font-size: 13px;
}

.btn:hover {
	background-color: #3759DC;
    color: white;
}

.btn:focus {
	box-shadow: none;
}

.btn-fw {
	width: 100%;
}